* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    background-color: #333;
    color: white;
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav {
    display: flex; /* Exibe os itens na horizontal */
    justify-content: space-between; /* Espaça os elementos à esquerda e à direita */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px; /* Espaçamento interno para o nav */

}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;

}
nav ul.brad{
    padding-left: 100px;
}

nav ul li {
    display: inline;
    margin-right: 150px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    height: 80vh;
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}
#secao1{
    background-color: darkcyan;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;

}
section#secao1 h2{
    flex: 0 0 30%;
    text-align:right;
    margin-left: 20px;

}

section.image-bar{
    flex: 0 0 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 450px;

}

section.image-bar img{
    border: 5px solid darkcyan;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.425);
    width: 250px;
    height: auto;
    object-fit: contain;

    border-radius: 120px;
    margin-right: -30%;
}

#secao2{
    background-color: #6dd5ed;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);

}
#secao3{
    background-color:  #86a8e7;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
#secao4{
    background-color: #5a8bee;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


